#app {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
}
.cell {
  width: 15px;
  height: 15px;
  background: rgb(184, 184, 184);
}
.head {
  width: 15px;
  height: 15px;
  background: rgb(133, 255, 188);
}