#app {
	display: flex;
	justify-content: center;
}
.row {
	display: flex;
}
.cell,
.head,
.part {
	width: 15px;
	height: 15px;
	background: rgb(184, 184, 184);
}
.head {
	background: rgb(0, 192, 86);
}
.part {
	background: rgb(133, 255, 188);
}
